<a href="https://www.tektutorialshub.com/angular/angular-template-driven-forms/">GUIDE</a>

<hr>

<form #contactForm="ngForm" (ngSubmit)="onSubmit(contactForm)">

  <p>
    <label for="firstname">First Name </label>
    <input type="text" id="firstname" name="firstname" ngModel>
  </p>
  <p>
    <label for="lastname">Last Name </label>
    <input type="text" id="lastname" name="lastname" ngModel>
  </p>
  <p>
    <label for="email">Email </label>
    <input type="text" id="email" name="email"  ngModel>
  </p>
  <p>
    <label>Gender</label>
    <input type="radio" value="male" id="genderMale" name="gender" ngModel> Male
    <input type="radio" value="female" id="genderFemale" name="gender" ngModel> Female
  </p>
  <p>
    <label for="isMarried">Married </label>
    <input type="checkbox" id="isMarried" name="isMarried" ngModel>
  </p>
  <p>
    <label for="country">country </label>
    <select id="country" name="country" ngModel>
      <option [value]="c.id" *ngFor="let c of countryList">
        {{c.name}}
      </option>
    </select>
  </p>

  <div ngModelGroup="address">
    <p>
      <label for="city">City</label>
      <input type="text" id="city" name="city" ngModel>
    </p>
    <p>
      <label for="street">Street</label>
      <input type="text" id="street" name="street" ngModel>
    </p>
    <p>
      <label for="pincode">Pin Code</label>
      <input type="text" id="pincode" name="pincode" ngModel>
    </p>
  </div>

  <p>
    <button type="submit">Submit</button>
  </p>

</form>

<hr>

<pre>Value : {{contactForm.value | json }} </pre>
<pre>Valid : {{contactForm.valid}} </pre>
<pre>Touched : {{contactForm.touched  }} </pre>
<pre>Submitted : {{contactForm.submitted  }} </pre>

